<%-include('partials/header') %>
    <link rel="stylesheet" href="/css/about.css" />
    <title>Home</title>
  </head>
  <body>
    <%-include('partials/navbar') %>
    <div class="title">
      <h2><span style="color: #e65528 !important">e</span>Vote</h2>
      <h5 style="color: #6c757d;">
        O platformă electronică
        <span style="color: #e65528 !important;">sigura</span>,
        <span style="color: #e65528 !important;"
          >ușor de folosit</span
        >
        și
        <span style="color: #e65528 !important;"
          >accesibilă
        </span>
        oricui , oriunde.
      </h5>
    </div>
    <section class="hero">
      <div class="hero-text">
        <p>
          <i class="fa-solid fa-user"></i> Votul tău
          <span style="color: #e65528 !important; "
            >contează!</span
          >
        </p>
        <p>
          <i class="fa-solid fa-lock"></i> Votează
          <span style="color: #e65528 !important; "
            >inteligent, rapid și în siguranță</span
          >
        </p>
        <p>
          <i class="fa-solid fa-globe"></i> Votează
          <span style="color: #e65528 !important; "
            >digital.</span
          >
          Fără bariere.
        </p>
        <p>
          <i class="fa-solid fa-check-to-slot"></i> Schimbarea începe cu un
          <span style="color: #e65528 !important; "
            >singur vot.</span
          >
        </p>
        <p>
          <i class="fa-solid fa-server"></i> Cu noi, fiecare vot
          <span>contează</span>
          și
          <span style="color: #e65528 !important; "
            >rămâne protejat.</span
          >
        </p>
        <p>
          <i class="fa-solid fa-server"></i> Democrația modernă începe cu tehnologia de azi.
        </p>
      </div>
      <div class="hero-img">
        <img src="img/cast-vote.png" alt="vote.png" />
      </div>
    </section>
    <div class="flex-box">
      <div class="img-box">
        <div class="first-step">
          <img class="firstStep" style="margin-top: 25px;" src="/img/FirstStep.png">
          <h5 style="color: #0a1433; ;">Pasul 1</h5>
          <h6>Verificarea identității</h6>
        </div>
        <div class="arrow">
          <i class="fa-solid fa-arrow-right" style="font-size: 50px; color: #e65528;"></i>
        </div>
        <div class="second-step">
          <img class="secondStep" src="/img/SecondStep.png">
          <h5 style="color: #0a1433; ;">Pasul 2</h5>
          <h6>Selectarea candidatului</h6>
        </div>
        <div class="arrow">
          <i class="fa-solid fa-arrow-right" style="font-size: 50px; color: #e65528;"></i>
        </div>
        <div class="third-step">
          <img class="thirdStep" src="/img/ThirdStep.png">
          <h5 style="color: #0a1433; ;">Pasul 3</h5>
          <h6>Confirmarea votului</h6>
        </div>
        <div class="arrow">
          <i class="fa-solid fa-arrow-right" style="font-size: 50px; color: #e65528;"></i>
        </div>
        <div class="fourth-step">
          <img class="fourthStep" src="/img/FourthStep.png">
          <h5 style="color: #0a1433; ;">Pasul 4</h5>
          <h6>Generarea certificatului</h6>
        </div>
      </div>
     </div>
    <%-include('partials/footer')%>
  </body>
</html>
